@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
    <body style="background-color: black">
    <div>
        <h1>404: page not found</h1>
        <br/>
        <h3 style="font-style:normal; color:darkgreen; ">Follow the white rabbit...</h3><a href="http://localhost:57367"><img src="~/Content/images/rabbit.jpg" height="150px"/></a>
    </div>
</body>
</html>
