@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RegistrationForm</title>
</head>
    <body>
        <h2>Enter your authorization data</h2>
        @{
            using (Html.BeginForm())
            {
                <p>Your login or email*:@Html.TextBox("LoginOrEmail")</p>
                <p>Your password*:@Html.TextBox("Password")</p>
                <input type="submit" value="LogIn"/>
            }
         }
    </body>
</html>
