#user-list {
    position: absolute;
    margin: 5px;
    word-break: break-all;
}

#user-list > .user {
    margin: 5px;
    width: 420px;
    display: inline-block;
    border: 1px solid cadetblue;
    border-radius: 5px;
    padding: 6px;
    background: white;
}

.user > .avatar {
    width: 138px;
    float: left;
    margin-right: 10px;
}

.avatar > img {
    width: 136px;
    border: 1px solid;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
}

.avatar > .status {
    height: 20px;
    text-align: center;
    font-size: 16pt;
    border: 1px solid;
    border-top: 0px;
}

.status-online .status {
    color: greenyellow;
    background: darkcyan;
}

.status-online > .avatar > img {
    border-color: greenyellow;
}

.status-offline .status {
    color: red;
    background: bisque;
}

.status-offline > .avatar > img {
    color: red;
}

.status-unactivated .status {
    color: orange;
    background: lemonchiffon;
}

.status-unactivated > .avatar > img {
    color: orange;
}

.status-blocked .status {
    color: grey;
    background: lavender;
}

.status-blocked > .avatar > img {
    color: grey;
}

.user .description {
    margin-left: 5px;
    height: 125px;
}

.user > .actions {
}

.description .edit-info {
    width: 18px;
    height: 18px;
    float: right;
}

#actions-panel {
	width: 20%;
    position: fixed;
    background-color: black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    top: 50px;
	right: 10px;
	height: 250px;
    margin: 0px;
    margin-top: 10px;
	padding: 0px;
}

#actions-panel > .action {
    
}