body {
    overflow: auto;
}

.albumContainer {
    background-color:silver;
    padding: 10px;
    margin:10px;
    overflow: auto;
    float: left;
}

.album {
    background-color: whitesmoke;
    float: left;
    overflow: auto;
    border-radius: 10px;
    border: 4px double green;
    margin: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info {
    background-color: darkgrey; 
    overflow: hidden;
    float: right; 
    border-radius: 20px;
    border: 4px dashed indianred;
    padding: 10px;
       -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.clear {
    clear: left; /* Отмена обтекания */
   }
