.sidebar {
    background-color: rgb(235, 235, 235);
    float: right;
    width: 20%;
}

.grid {
    float: left;
    width: 78%;
}

.save-info-btn {
    display: block;
    margin: 20px 10px 10px 10px;
}

.title {
    color: #343434;
    font-family: "Segoe UI Light", "Segoe UI Web Light", "Segoe UI Web Regular", "Segoe UI", "Segoe UI Symbol", "HelveticaNeue-Light", "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    margin: 25px 20px 5px 30px;
}

.editable:hover {
    border-color: #808080;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

.photos-count {
    margin-left: 10px;
    margin-right: 30px;
    text-align: right;
}

.prop {
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 30px;
}

.album-container { min-width: 1000px; }