/* remove dashed border in IE 10 and Opera 12 */
:root input:focus {
    outline: none;
}

body {
    /*background: url(images/cherdak.png);*/
    background-size: cover;
}

#full-screen-shadow {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.74;
    z-index: 2;
    background-image: radial-gradient(farthest-side at center center, rgba(222, 224, 228, 0.476) -5%, rgba(0, 0, 0, 0.841) 100%);
}

.login-panel .error-field {
    text-align: left!important;
}

.login-panel .alert {
    padding: 6px 30px 6px 10px;
}

.login-panel .visible {
    display: block;
}

.login-panel {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -140px;
    width: 280px;
	z-index: 3;
}

.login-panel .well {
    padding: 1px;
    border: 2px solid #03417d;
    border-radius: 8px;
    box-shadow: 0 0 60px 20px black;
}

.login-panel input[type=email], .login-panel [type=password] {
    margin-top: 1px;
    margin-bottom: 1px;
}

.login-panel .checkbox {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.login-panel .btn-success {
    margin-top: 8px;
    width: 94%;
    font-size: 18px;
    padding: 5px;
}

.login-panel #signin-button {
	width: 48%;
}

.login-panel .btn-primary {
    margin-top: 8px;
    font-size: 18px;
    padding: 5px;
}

.login-panel hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #03417d;
    margin: 0;
}

.login-panel .control-group {
    margin-bottom: 10px;
}

.login-panel .btn-link {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin-left: 144px;
    padding: 0;
    font-size: 14px!important;
}

.login-panel .alert {
    margin: 5px 2px 5px 2px;
}

.login-panel .social {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 52%;
}

.login-panel .social img {
    width: 32px;
    height: 32px;
}
 
.login-panel .social img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.change-panel {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -200px;
    border: 2px solid #03417d;
    border-top: 0;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 30px 2px rgba(3, 65, 125, 0.7);
    width: 400px;
    height: 32px;
    background: rgba(245, 245, 245, 0.6);
}

.change-panel strong {
    font-size: 20px;
    color: white;
    margin-top: 5px;
    width: 50%;
    text-align: center;
}

.change-panel .btn {
    width: 42%;
}

/* Effect button */

.effeckt-button {
  position: relative;
  font-family: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.effeckt-button[data-loading] {
  cursor: default;
}

.effeckt-button .effeckt-spinner {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    margin-top: -16px;
    opacity: 0;
    background-size: 32px auto;
}

.effeckt-button .effeckt-spinner-blue {
    background-image: url(images/loading_blue.gif);
}

.effeckt-button .effeckt-spinner-green {
    background-image: url(images/loading_green.gif);
}

.effeckt-button,
.effeckt-button .effeckt-spinner,
.effeckt-button .effeckt-label {
  -webkit-transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  -o-transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

.effeckt-button.zoom-in,
.effeckt-button.zoom-in .effeckt-spinner,
.effeckt-button.zoom-in .effeckt-label {
  -webkit-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  transition: 500ms ease all;
}

.effeckt-button.zoom-in {
  overflow: hidden;
}

.effeckt-button.zoom-in .effeckt-spinner {
  left: 50%;
  margin-left: -16px;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
}

.effeckt-button.zoom-in .effeckt-label {
  position: relative;
  display: inline-block;
}

.effeckt-button.zoom-in[data-loading] .effeckt-label {
  opacity: 0;
  -webkit-transform: scale(2.2);
  -ms-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
}

.effeckt-button.zoom-in[data-loading] .effeckt-spinner {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}