#main-render-place {
    margin-top: 50px;
}

.navbar {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(56, 56, 56, 0.95) 0%, rgba(0, 0, 0, 0.95) 100%);
}

.brand {
    position: relative;
    height: 40px;
    margin-left: 0px!important;
    padding: 5px 10px!important;
}

.brand img {
    height: inherit;
}

.nav > li {
    cursor: pointer;
    margin-right: 5px;
}

.nav li > .dropdown-toggle {
    color: #ffffff;
    padding: 16px 10px 14px;
}

.nav li > .dropdown-toggle:hover {
    background-color: #2fa4e7;
}

.nav .btn {
    margin-right: 10px;
}

.user-container {
	padding: 20px;
}

.user-container div {
	width: 100px;
	height: 200px;
	padding: 10px;
	float: left;
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(5%, #ffffff), to(#ffffff));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 5%, #ffffff);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 5%, #ffffff);
	background-image: -o-linear-gradient(#ffffff, #ffffff 5%, #ffffff);
	background-image: linear-gradient(#ffffff, #ffffff 5%, #ffffff);
	background-repeat: no-repeat;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.user-row {
	
}