#main-render-place {
    margin-top: 50px;
}

.navbar {
    min-width: 1010px;
}

body
{
	background-color: whitesmoke !important;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.navbar-search form {
    margin: 0;
}

.nav li a.btn:hover {
    background-color: #7bb33d!important;
}

.navbar {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, rgba(56, 56, 56, 0.95) 0%, rgba(0, 0, 0, 0.95) 100%);
}

.brand {
    position: relative;
    height: 40px;
    /*margin-left: 0px!important; Строка меню съезжала из-за этой строчки.
	Смещение контролируется через bootstrap-responsive.css	*/ 
    padding: 5px 10px!important;
}

.brand img {
    height: inherit;
}

.nav li a.btn {
    padding: 4px 12px!important;
}

.nav > li {
    cursor: pointer;
    margin-right: 5px;
}

.nav li > .dropdown-toggle {
    color: #ffffff;
    padding: 16px 10px 14px;
}

.nav li > .dropdown-toggle:hover {
    background-color: #2fa4e7;
}

.nav .btn {
    margin-right: 10px;
}

.search-query {
    width: 180px;
}

.user-container {
	padding: 20px;
	width: 70%;
	float: left;
}

.user-row {
	height: 200px;
	padding: 10px;
	float: left;
	margin: 0px 8px 8px 0px;
	border: 1px solid black;
	background: #f3f3f3; /* Для старых браузров */
    background: -moz-linear-gradient(-225deg, #f1f1f1, #d3d3d3); 
    background: -webkit-gradient(linear, left top, right bottom, 
                color-stop(0%,#f1f1f1), color-stop(100%, #d3d3d3));
    background: -webkit-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: -o-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: -ms-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: linear-gradient(-225deg, #f1f1f1, #d3d3d3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
}

.user-row:hover {
	background: #d5d5d5; /* Для старых браузров */
    background: -moz-linear-gradient(-225deg, #ede7e7, #c5bebe); 
    background: -webkit-gradient(linear, left top, right bottom, 
                color-stop(0%, #ede7e7), color-stop(100%, #c5bebe));
    background: -webkit-linear-gradient(-225deg, #ede7e7, #c5bebe);
    background: -o-linear-gradient(-225deg, #ede7e7, #c5bebe);
    background: -ms-linear-gradient(-225deg, #ede7e7, #c5bebe);
    background: linear-gradient(-225deg, #ede7e7, #c5bebe);
}

.user-main-info {
	width: 100px;
	height: 200px;
	float: left;
}

.user-row img {
	width: 80px;
	height: 80px;
}

.user-status 
{
	color: red;
}

a span {
	color: black;
}

.hidden-field {
	height: 200px;
	width: 130px;
	margin: 0px;
	padding: 0px;
	float: left;
	display: none;
}

.hidden-field input[type="button"] {
	margin-top: 10px;
}

.user-info {
	width: 22%;
	background: #f3f3f3; /* Для старых браузров */
    background: -moz-linear-gradient(-225deg, #f1f1f1, #d3d3d3); 
    background: -webkit-gradient(linear, left top, right bottom, 
                color-stop(0%,#f1f1f1), color-stop(100%, #d3d3d3));
    background: -webkit-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: -o-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: -ms-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: linear-gradient(-225deg, #f1f1f1, #d3d3d3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: fixed;
	left: 73%;
	height: 380px;
	margin: 20px 20px 0px 0px;
	padding: 20px;
}

.delete-queue-info {
	width: 22%;
	background: #f3f3f3; /* Для старых браузров */
    background: -moz-linear-gradient(-225deg, #f1f1f1, #d3d3d3); 
    background: -webkit-gradient(linear, left top, right bottom, 
                color-stop(0%,#f1f1f1), color-stop(100%, #d3d3d3));
    background: -webkit-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: -o-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: -ms-linear-gradient(-225deg, #f1f1f1, #d3d3d3);
    background: linear-gradient(-225deg, #f1f1f1, #d3d3d3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: fixed;
	left: 73%;
	top: 480px;
	height: 80px;
	margin: 20px 20px 0px 0px;
	text-align: center;
	padding: 20px;
}

.delete-queue-info span {
	line-height: 3em;
}