#photoWrapper {
	display:inline-block;
    margin: auto;
	min-width : 750px;
	margin: 5px auto auto 9px;
}

body {
	min-height: 100%;
	/*background-color: #2E2E2E;*/
}

.photoContainer {
	height:200px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	box-shadow: 2px 1px 3px gray;
	border-radius:5px;
	position: relative;
	z-index: 0;
	overflow: hidden;
	/*-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;*/
}

.photoContainer img {
	height:200px;
	max-width: none;
	-moz-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	border-radius:5px;
}

.photoContainer img:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	height:250px;
	background-color:#ffffff;
	padding:10px;
	border:1px solid #CCCCCC;
	margin-left: -50px;
	margin-top: -50px;
}
.photoContainer:hover{
    position: relative;
    z-index: 10;
	cursor: pointer;
}
#photopreloader {
	display: block;
	margin: auto;
	clear: both;
	width:200px; 
	height:26px; 
	position:fixed; 
	top:50%; 
	left:50%; 
	margin:-13px auto auto -100px;
	border-radius: 20px 20px 20px 20px;
}

#invisible {
	display: none;
}

