#photoWrapper {
	display:inline-block;
    margin: auto;
	min-width : 750px;
	margin: 5px auto auto 9px;
}

body {
	min-height: 100%;
	/*background-color: #2E2E2E;*/
}

.photoContainer {
	height:200px;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	overflow:hidden;
	box-shadow: 2px 1px 3px gray;
	border-radius:5px;
}

.photoContainer img {
	height:200px;
	max-width: none;
}

#photopreloader {
	display: block;
	margin: auto;
	clear: both;
	width:200px; 
	height:26px; 
	position:fixed; 
	top:50%; 
	left:50%; 
	margin:-13px auto auto -100px;
	border-radius: 20px 20px 20px 20px;
}

#invisible {
	display: none;
}

