.center {
    float: none;
    margin: 10px;
    text-align: center;
}

.founded-item {
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;
    background-color: #ffffff;
    margin: 3px;
    border-radius: 2px;
    padding: 5px;
}

.photo {
    float: left;
    margin-right: 8px;
}

.user-avatar {
    float: left;
    margin-right: 8px;
}

.photo-info {
    position: relative;
    top: 4px;
    left: 12px;
}

.search-panel {
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;
    background-color: #ffffff;
    padding: 10px;
}

.search-option-vertical-interval {
    height: 18px;
}

.search-options-offset {
    position: relative;
    top: 4px;
    left: 12px;
}