
#button-group {
    width: 100%;
    text-align: right;
    margin-top: 5%;
}

#FirstName, #LastName, #Email {
    width: 100%;
}

.ot-content {
	z-index: 100;
	position: relative;
	color: white;
	padding-left: 3px;
}

