#dropzone-container {
    top: 110px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: absolute;
}

.dropzone {
    margin: 0;
    min-height: 200px!important;
    height: 100%;
}

#photo-select > .input-append {
    margin-bottom: 0 !important;
}

#photo-select {
    position: absolute;
    padding: 5px;
    top: 60px;
    left: 10px;
    right: 10px;
    height: 26px;
    width: auto;
    background: linen;
    border: 1px solid mistyrose;
    border-radius: 5px;
}

#photo-select select {
    margin: 0;
}

#select-all-photos {
    margin-top: 3px;
    float: right;
}

#select-all-photos > input {
    margin-bottom: 5px;
}

.photo-checker {
    position: absolute;
    z-index: 1;
    margin: 0!important;
}

.dz-filename {
    margin-top: 6px!important;
}

#album-select {
    float: left;
}

#album-select .chosen-container {
    min-width: 268px;
    font-size: 14px;
}

#photo-select .btn {
    margin-top: 1px !important;
    padding: 1px 5px !important;
}