/BinaryStudio.PhotoGallery.Core/bin
/BinaryStudio.PhotoGallery.Core/obj
/BinaryStudio.PhotoGallery.Database/bin
/BinaryStudio.PhotoGallery.Database/obj
/BinaryStudio.PhotoGallery.Domain/bin
/BinaryStudio.PhotoGallery.Domain/obj
/BinaryStudio.PhotoGallery.Models/bin
/BinaryStudio.PhotoGallery.Models/obj
/BinaryStudio.PhotoGallery.Web/bin
/BinaryStudio.PhotoGallery.Web/obj
/packages/AttributeRouting.3.5.6
/packages/AttributeRouting.Core.3.5.6
/packages/AttributeRouting.Core.Web.3.5.6
/packages/CommonServiceLocator.1.0
/packages/EntityFramework.5.0.0
/packages/Microsoft.AspNet.Mvc.4.0.20710.0
/packages/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0
/packages/Microsoft.AspNet.Razor.2.0.20715.0
/packages/Microsoft.AspNet.WebApi.4.0.20710.0
/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0
/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0
/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0
/packages/Microsoft.AspNet.WebPages.2.0.20710.0
/packages/Microsoft.Net.Http.2.0.20710.0
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/NBuilder.3.0.1.1
/packages/Newtonsoft.Json.4.5.11
/packages/NSubstitute.1.6.1.0
/packages/NUnit.2.6.2
/packages/Unity.2.1.505.2
/packages/Unity.3.0.1304.0
/packages/Unity.Mvc4.1.1.0.0
/packages/WebActivator.1.0.0.0
/Tests/BinaryStudio.PhotoGalery.Core.Tests/bin
/Tests/BinaryStudio.PhotoGalery.Core.Tests/obj
/Tests/BinaryStudio.PhotoGallery.Domain.Tests/bin
/Tests/BinaryStudio.PhotoGallery.Domain.Tests/obj
