@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Gallery | Bingally";
}

@*<div id="photoWrapper">
    @foreach (var photo in Model.Photos)
    {
        <div class="photoContainer">
            <img src="@photo.PhotoThumbSource"/>
        </div>
    }								
</div>*@