@model IList<BinaryStudio.PhotoGallery.Web.ViewModels.PhotoViewModel>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "User flow | Bingally";
}

<div id="photoWrapper">
    @foreach (var photo in Model)
    {
        <div class="photoContainer">
            <img src="<%@photo.PhotoSource%>"/>
        </div>
    }								
</div>