@{ViewBag.Title = "Index";}

<!DOCTYPE html>
<html>
    <body>
        <h1>Main Page</h1>
        <p>
            @ViewBag.PartOfDay! What do you want to do?
            (To do: sell it better. Add pictures or something.)
        </p>
        @Html.ActionLink("Registration","RegistrationForm", "Registration");
        @Html.ActionLink("Authorization","AuthorizationForm", "Authorization");
    </body>
</html>
