@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.Extensions
@model dynamic

@{
    ViewBag.Title = "Remind Password | Bingally";
}

<div id="passRecoveryPanel" class="login-panel" style="display:none;">
    @Html.Image(Url.Content("~/Content/images/logo_big.png"))
    <div class="well">
        <h4>Remind password</h4>
        <form action="/api/remind/" method="post" class="control-group form-horizontal pagination-centered">
            <input id="Email" name="Email" type="email" class="input-block-level" maxlength="255" placeholder="E-mail address" />
            <button id="sendRecovery" type="submit" class="btn btn-primary effeckt-button zoom-in">
                <span class="effeckt-label">Send password recovery Email</span>
                <span class="effeckt-spinner effeckt-spinner-blue"></span>
            </button>
            <a id="backToLogin" class="btn btn-link">Back to the login page</a>
        </form>

        <div class="error-field"></div>
    </div>
</div>
