@model BinaryStudio.PhotoGallery.Web.ViewModels.AuthInfoViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login | Bingally";
}

<div class="change-panel well">
    <strong class="pull-left">First time here?</strong>
    <a href="../Account/Signup" class="btn btn-success pull-right">Sign up</a>
</div>

<div class="login-panel">
    <img src="~/Content/images/logo_v4.png"/>
    <form class="form-horizontal form-signin well pagination-centered" method="POST">
        <div class="control-group">
            <input id="Email" name="Email" type="email" class="input-block-level" placeholder="E-mail address" />
            <input id="Password" name="Password" type="password" class="input-block-level" placeholder="Password" />

            <label class="checkbox">
                <input type="checkbox" id="RememberMe" name="RememberMe" checked>Remember me
            </label>
            
            <a href="../Account/Signin" class="btn btn-primary">Sign In</a>
            <a href="../Account/RemindPass" class="btn btn-link">Forgot password?</a>
        </div>
        <hr/>
        <div class="social">
            <a href="../Account/Signin/vkontakte"><img src="~/Content/images/vkontakte_logo.png" /></a>
            <a href="../Account/Signin/facebook"><img src="~/Content/images/facebook_logo.png"/></a>
            <a href="../Account/Signin/twitter"><img src="~/Content/images/twitter_logo.png" /></a>
            <a href="../Account/Signin/github"><img src="~/Content/images/github_logo.png" /></a>
        </div>
    </form>	
</div>