@model BinaryStudio.PhotoGallery.Web.ViewModels.RegistrationViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Registration | Bingally";
}

<div class="change-panel well">
    <strong class="pull-left">Already registered?</strong>
    <a href="../Account/Signin" class="btn btn-primary pull-right">Sign in</a>
</div>

<div class="login-panel">
    <img src="~/Content/images/big_logo.png"/>
    <form class="form-horizontal form-signin well" method="POST">
        <div class="control-group">
            <input type="email" id="Email" name="Email" class="input-block-level" placeholder="E-mail address">
            <input type="password" id="Password" name="Password" class="input-block-level" placeholder="Password">
            <input type="password" id="PasswordConfirmation" class="input-block-level" name="ConfirmPassword" placeholder="Repeat password">

            <a href="../Account/Signup" class="btn btn-success">Sign up</a>
        </div>
        <hr/>
        <div class="social">
            <a href="../Account/Signup/vkontakte"><img src="~/Content/images/vkontakte_logo.png" /></a>
            <a href="../Account/Signup/facebook"><img src="~/Content/images/facebook_logo.png"/></a>
            <a href="../Account/Signup/twitter"><img src="~/Content/images/twitter_logo.png" /></a>
            <a href="../Account/Signup/github"><img src="~/Content/images/github_logo.png" /></a>
        </div>
    </form>	
</div>