@model BinaryStudio.PhotoGallery.Web.Models.AuthInfoViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login | Bingally";
}

<div class="change-panel well">
    <strong>First time here?</strong>
    <a href="/Account/Signup">
        <button type="submit" class="btn btn-success">Sign up</button>
    </a>
</div>
<div class="login-panel">
    <img src="~/Content/images/big_logo.png"/>
    <form class="form-horizontal form-signin well" method="POST">
        <div class="control-group">
            <input id="Email" name="Email" type="email" class="input-block-level" placeholder="E-mail address" />
            <input id="Password" name="Password" type="password" class="input-block-level" placeholder="Password" />

            <label class="checkbox">
                <input type="checkbox" id="RememberMe" name="RememberMe" checked>Remember me
            </label>
            <a href="/Account/Signin">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </a>
            <a href="/Account/RemindPass">
                <button class="btn btn-link">Forgot password?</button>
            </a>
        </div>
        <hr/>
        <div class="social">
            <img src="~/Content/images/vkontakte_logo.png"/>
            <img src="~/Content/images/facebook_logo.png"/>
            <img src="~/Content/images/twitter_logo.png" />
            <img src="~/Content/images/github_logo.png" />
        </div>
    </form>	
</div>