@model BinaryStudio.PhotoGallery.Web.ViewModels.AlbumViewModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "User albums | Bingally";
}
@Scripts.Render("~/Scripts/AlbumsPage/albums.js",
                "~/Scripts/jsrender.js")
@Styles.Render("~/Content/albums-page.css")

<canvas id='canv'>Обновите браузер</canvas>

<script id="collageTmpl" type="text/x-jquery-tmpl">
    <div class="album">
        <a href="/album/{{:Id}}"><img class="collage" src="{{:CollageSource}}"/></a>
    </div>
</script>

<script id="uploadTmpl" type="text/x-jquery-tmpl">
    <div align="center">
        <p>There are no albums available for viewing</p>
    </div>
    
</script>

<script id="flowPhotoTmpl" type="text/x-jquery-tmpl">
    <div class="thumbContaiter">
        <img class="flowPhoto" src="{{:Reference}}"/>
    </div> 
</script>

<script id="userTmpl" type="text/x-jquery-tmpl">
    <p><img class="avatar" src="{{:AvatarPath}}"/></p>
    <p class="textStyle">Full name: {{:FullName}}</p>
    <p class="textStyle">Albums: {{:AlbumCount}}</p>
    <p class="textStyle">Photos: {{:PhotoCount}}</p> 
    <p class="textStyle">State: {{:IsAdmin}}</p>                                                                                                                                                                                                                                                                                                                                                          
    <p class="textStyle">Department: {{:Department}}</p>
</script>

<table id="content">
    <tr>
        <td class="albums">
            
        </td>
        <td class="infoArea">
            <div class="info" id="userInformation">
            </div>
        </td>
    </tr>
</table>