@model BinaryStudio.PhotoGallery.Web.ViewModels.AlbumsViewModel
@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/bootstrap")
@Scripts.Render("~/Scripts/AlbumsPage/albums.js")
@Styles.Render("~/Content/albums-page.css")

<div class="albumContainer" id="container">
    
</div>

<div class="info" id="inf">
    <div>
        <p><img src="~/Content/images/rabbit.jpg" width="100px" height="75px"/></p>
        <p>User name:@Model.UserEmail</p>
    </div>
</div>
