@model BinaryStudio.PhotoGallery.Web.ViewModels.AlbumViewModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "User albums | Bingally";
}
@Scripts.Render("~/bundles/scripts/jquery",
                "~/bundles/scripts/bootstrap",
                "~/Scripts/AlbumsPage/albums.js",
                "~/Scripts/jsrender.js")
@Styles.Render("~/Content/albums-page.css")

<canvas id='canv'>Обновите браузер</canvas>

<script id="collageTmpl" type="text/x-jquery-tmpl">
    <div class="album">
        <img class="collage" src="{{:collageSource}}"/>
    </div> 
</script>

<script id="uploadTmpl" type="text/x-jquery-tmpl">
    <a href="/Upload" class="btn btn-success">Upload</a>
</script>

<script id="flowPhotoTmpl" type="text/x-jquery-tmpl">
    <div class="thumbContaiter">
        <img class="flowPhoto" src="{{:reference}}"/>
    </div> 
</script>

<script id="userTmpl" type="text/x-jquery-tmpl">
    <p><img class="avatar" src="{{:userAvatar}}"/></p>
    <p class="textStyle">Full name: {{:fullName}}</p>
    <p class="textStyle">Albums: {{:albumCount}}</p>
    <p class="textStyle">Photos: {{:photoCount}}</p> 
    <p class="textStyle">Last photo added: {{:lastPhotoAdded}}</p>
    <p class="textStyle">State: {{:isAdmin}}</p>                                                                                                                                                                                                                                                                                                                                                          
    <p class="textStyle">Department: {{:department}}</p>
</script>

<table id="content">
    <tr>
        <td class="albums">
            
        </td>
        <td class="infoArea">
            <div class="info" id="userInformation">
            </div>
        </td>
    </tr>
</table>






