@model BinaryStudio.PhotoGallery.Web.ViewModels.AlbumsViewModel
@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/bootstrap")
@Scripts.Render("~/Scripts/AlbumsPage/albums.js")
@Styles.Render("~/Content/albums-page.css")

<table>
    <tr>
        <td class="mainArea">
            <div class="albumContainer" id="container">
    
            </div>
        </td>
        <td class="infoArea">
            <div class="info" id="userInformation">
                    <p>
                        <div class="avatarContainer">
                            <img class="avatar" src="~/Content/images/rabbit.jpg"/>
                        </div>
                    </p>
            </div>
        </td>
    </tr>
</table>






