@model BinaryStudio.PhotoGallery.Web.ViewModels.Search.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>@Html.LabelFor(model => model.SearchQuery)</h2>
