@using System.Web.Optimization
@model BinaryStudio.PhotoGallery.Web.ViewModels.Search.SearchViewModel


@{
    ViewBag.Title = "Search | Bingally";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Scripts.Render("~/bundles/scripts/jquery")
<script src="~/Scripts/knockout-2.3.0.js"> </script>
<script src="~/Scripts/knockout.mapping-latest.debug.js"> </script>

<script src="~/Scripts/Search/search.js"> </script>

@Styles.Render("~/Content/search.css")

         
<div class="container">
         
    <div class="span12">

        <form class="form-search center" data-bind="submit: search">
            <div class="input-append">
                <input type="text" class="span5 search-query" data-bind="value: searchQuery">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
        
    <div class="row">
        
        <div class="span9">
            
            <div class="span7 founded-item">
                <img class="user-avatar" src="~/Content/images/no_avatar.png"/> 
                <h4>Artyom Zagorodnuk</h4>
                <br/>
                <h5>.NET Department</h5>
            </div>
            <div class="span7 founded-item">
                <h2>Search result item</h2>
            </div>
            <div class="span7 founded-item">
                <h2>Search result item</h2>
            </div>
        </div>  
        
        <div class="span3 search-panel">
            
            <!-- Search photos by -->
            <strong>Search photos by</strong>
            
            <div class="search-options-offset">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchPhotosByName"> <small>name</small>
                </label>
            
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchPhotosByTags"> <small>tags</small>
                </label>
                
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchPhotosByDescription"> <small>description</small>
                </label>
            </div>
            
            <div class="search-option-vertical-interval"></div>

            <!-- Search albums by -->
            <strong>Search albums by</strong>

            <div class="search-options-offset">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchAlbumsByName"> <small>name</small>
                </label>
            
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchAlbumsByTags"> <small>tags</small>
                </label>
                
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchAlbumsByDescription"> <small>description</small>
                </label>
            </div>
            
            <div class="search-option-vertical-interval"></div>
            
            <!-- Search users by -->
            <strong>Search users by</strong>

            <div class="search-options-offset">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchUsersByName"> <small>name</small>
                </label>

                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchUserByDepartment"> <small>department</small>
                </label>
            </div>
            
            <div class="search-option-vertical-interval"></div>

            <!-- Search comments -->
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: isSearchByComments"> <strong>Search by comments</strong>
            </label>
        </div>

    </div><!-- .row -->
</div><!-- .container -->