@using System.Web.Optimization
@model BinaryStudio.PhotoGallery.Web.ViewModels.Search.SearchViewModel


@{
    ViewBag.Title = "Search | Bingally";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Scripts.Render("~/bundles/scripts/jquery")
<script src="~/Scripts/knockout-2.3.0.js"> </script>
<script src="~/Scripts/knockout.mapping-latest.debug.js"> </script>

<script src="~/Scripts/Search/search.js"> </script>

@Styles.Render("~/Content/search.css")

         
<div class="container">
         
    <div class="span12">

        <form class="form-search center" data-bind="submit: search">
            <div class="input-append">
                <input type="text" class="span5 search-query" data-bind="value: searchQuery">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
        
    <div class="row">
        
        <div class="span7" data-bind="foreach: foundItems">
            
            <!-- ko if: Type == 'photo' -->
            <div class="span7 found-item">
                
                <div class="result-image">
                    <a data-bind="attr: { href: PhotoViewUrl }">
                        <img data-bind="attr: { src: ThumbnailPath}"/>
                    </a>
                </div>
                
                <ul class="unstyled">
                    <li class="search-info-item"><a data-bind="attr: { href: AlbumViewUrl }"><!--ko text: AlbumName--><!--/ko--></a></li>
                    <li class="search-info-item"><a data-bind="attr: { href: UserViewUrl }"><!--ko text: UserName--><!--/ko--></a></li>
                    <li class="search-info-item"><!--ko text: DateOfCreation--><!--/ko--></li>
                </ul>

            </div>
            <!-- /ko -->
            
            
            <!-- ko if: Type == 'user' -->
            <div class="span7 found-item">
                <div class="result-image">
                    <a data-bind="attr: { href: UserViewUri }">
                        <img data-bind="attr: { src: AvatarPath }"/>
                    </a>
                </div>
                
                <ul class="unstyled">
                    <li><a data-bind="attr: { href: UserViewUri }"><!--ko text: Name--><!--/ko--></a></li>
                    <li><!--ko text: Department--><!--/ko--></li>
                    <!-- ko if: IsOnline -->
                    <li>Online</li>
                    <!-- /ko -->
                </ul>

            </div>
            <!-- /ko -->

        </div>  
        
        <div class="span3 offset2">
            
            <div class="search-panel">
                <!-- Search photos by -->
                <strong>Search photos by</strong>
            
                <div class="search-options-offset">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: isSearchPhotosByTags"> <small>tags</small>
                    </label>
                
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: isSearchPhotosByDescription"> <small>description</small>
                    </label>
                </div>
            
                <div class="search-option-vertical-interval"></div>

                <!-- Search albums by -->
                <strong>Search albums by</strong>

                <div class="search-options-offset">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: isSearchAlbumsByName"> <small>name</small>
                    </label>
            
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: isSearchAlbumsByTags"> <small>tags</small>
                    </label>
                
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: isSearchAlbumsByDescription"> <small>description</small>
                    </label>
                </div>
            
                <div class="search-option-vertical-interval"></div>
            
                <!-- Search users by -->
                <strong>Search users by</strong>

                <div class="search-options-offset">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: isSearchUsersByName"> <small>name</small>
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: isSearchUserByDepartment"> <small>department</small>
                    </label>
                </div>
            
                <div class="search-option-vertical-interval"></div>

                <!-- Search comments -->
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: isSearchByComments"> <strong>Search by comments</strong>
                </label>
            </div>
            
        </div>

    </div><!-- .row -->
</div><!-- .container -->