body {
    background-color: #E6E6E6 !important;
}

#leftSideMenu {
    width: 280px;
    height: 100%;
    padding-left: 20px;
    padding-top: 60px;
    position: absolute;
    left: -300px;
    bottom: auto;
    right: auto;
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transform: translateZ(0);
    -webkit-transform: translateX(0);

    color: #bbb;
    background-color: #323232;
    z-index: 3000;

}
#leftSideMenuButton{
	width: 30px;
	height: 100%;

	position: fixed;
	z-index: 1000;
	/*background-color: red;*/
}

/*#leftSideMenuButton:hover{
	background-color: blue;
}*/

#photoSegment {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 7%;
    position: relative;


    background-color: #F2F2F2;
}

#photo {
    margin: 3% auto 0% auto;
    /*background-color: #888;*/
    position: relative;
}

#photo img{
	height: 100%;
	width: 100%;

    /*remove this shit*/
    /*min-width: 400px;
    min-height: 300px;*/
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.65);
}

#prevPhotoButton{
	height: 100%;
	width: 10%;

	margin-left: 30px;
	position: absolute;
	z-index: 900;
	margin-top: -5%;

	/*background-color: blue;*/
}

#prevPhotoButton img{
    margin-top: 300%;
    visibility: hidden;
}

#prevPhotoButton:hover{
    /*background-color: rgba(0, 0, 0, 0.05);*/
}


#actionSegment {
    width: 100%;
    padding-top: 2%;
    position: relative;


}

#commentBlock{
	width: 60%;
    margin-left: 30px;
	float: left;

}

.comment {
    width: 100%;
    margin-bottom: 20px;
    font-size: 10pt;
    /*background-color: pink;*/
}

.commentInfo {
    width: 100%;
    height: 50px;
}

.userPhoto {
    width: 50px;
    height: 50px;
    float: left;

    margin-right: 10px;
}
.userInfo {
    float: left;
}
.userName {
    width: 100%;
    font-size: 11pt;
}
.dateOfCreating {
    width: 100%;
    font-size: 8pt;
}
.rating {
    width: 40px;
    height: 100%;

    float: right;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.commentText {
    padding-left: 60px;
    font-size: 9pt;
}
.commentFooter {
    text-align: right;
    margin-right: 10px;
}


#activityBlock{
	width: 30%;
	padding-left: 5%;

	float: left;
}





#cosialNetworkSync {
    position: relative;
    z-index: 2000;
}

#facebookSyncButton {
    width: 20px;
    height: 30px;
    position: relative;
    float: left;
    margin-right: 3px;
    text-align: center;
    line-height: 30px;

    color:cornflowerblue;
    background-color: white;
}

#facebookSyncButton:hover {
    color: white;
    background-color: cornflowerblue;
}
#vkSyncButton {
    width: 20px;
    height: 30px;
    position: relative;
    float: left;
    margin-right: 3px;
    text-align: center;
    line-height: 30px;

    color:cornflowerblue;
    background-color: white;
}
#vkSyncButton:hover {
    color: white;
    background-color: cornflowerblue;
}

#twetterSyncButton {
    width: 20px;
    height: 30px;
    position: relative;
    float: left;
    margin-right: 3px;
    text-align: center;
    line-height: 30px;

    color:cornflowerblue;
    background-color: white;
}

#twetterSyncButton:hover {
        color: white;
    background-color: cornflowerblue;
}

#addComment {
    margin-bottom: 40px;
}

.tag-photos {
    width: 80px;
    height: 80px;
    position: relative;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

#friendPhotos {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

#tagPhotos {
    width: 100%;
    height: 250px;
}