@using System.Web.Optimization
@model IEnumerable<BinaryStudio.PhotoGallery.Models.UserModel>

@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	ViewBag.Title = "Administration | Bingally";
}


<div class="user-container">
	@for (int i = 0; i < 10; i++)
 {
	 foreach (var user in @Model)
	 {
		<a href="">
			<div class="user-row">
				<div class="user-main-info">
					<img scr="~/Content/images/no_avatar.png" alt="@user.LastName" />
					<span>User: @user.LastName</span>
					<span class="user-status">Offline</span>
				</div>
			</div>

		</a>
	 }
 }
</div>
<div class="hidden-field">
	
</div>



