@model BinaryStudio.PhotoGallery.Web.ViewModels.RegistrationFormViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrationResult</title>
</head>
    <body>
        <p>Thanks you @Model.Login for registration</p>
        @Html.ActionLink("Go to main page", "Index", "Home");
    </body>
</html>
