@using System.Web.Optimization

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/main-layout.css" rel="stylesheet"/>
        @Styles.Render("~/bundles/styles/bootstrap")
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            
        </nav>
        <div>
            @RenderBody()
        </div>
    </body>
    @Scripts.Render("~/bundles/scripts/jquery")
</html>
