@{
    ViewBag.Title = "Page Not Found | Bingally";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found | Bingally</title>
        @System.Web.Optimization.Styles.Render("~/Content/notfound-page.css")
    </head>

    <body>
        <div id="container">
            @if (ViewBag.ReferrerUrl != null)
            {
                <a href="@ViewBag.ReferrerUrl"><img src="~/Content/images/notfound.png"/></a>
            }
            @if (ViewBag.ReferrerUrl == null)
            {
                <a href="~/"><img src="~/Content/images/notfound.png"/></a>
            }
        </div>
    </body>
</html>