@using BinaryStudio.PhotoGallery.Web.Extensions
@using System.Web.Optimization

@{
    ViewBag.Title = "Page Not Found | Bingally";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found | Bingally</title>
        @Styles.Render("~/Content/notfound-page.css")
    </head>

    <body>
        <div id="container">
            @{
                var referrerUrl = ViewBag.ReferrerUrl as string;
                
                var actionUrl = referrerUrl == null ? (Request.Url.Host + Url.Action("Index", "Home")) : referrerUrl;
                
                @Html.ImageLink("~/Content/images/notfound.png", referrerUrl);
            }
        </div>
    </body>
</html>